// CSS stylesheet
body { background: #ddd; color:#000; }
h1, h2, h3, h4 {font-weight: bold;}
.title_page { color: hotpink; }
.content { max-width: 960px; margin: 0 auto; }
/* .container { max-width:960px; } */
a { color:#CE00C4; }
ul { list-style:none; padding: 2rem 1rem;}
.navbar { display: block; background: #999; z-index: 99; border-top: 1px solid #eee; border-bottom: 1px solid #eee; margin: 0 auto; margin-bottom: 14px; }
.navbar-link { line-height: 2.5rem;}
#menu { background: transparent; padding-left: 3rem; border-bottom: none;}
img { margin: 1rem 0;}
img.align-left { margin: 1rem 2rem 1rem 0;}
img.align-right { margin: 1rem 0 1rem 2rem;}
.button { rgba(17, 220, 255, 0.56); }
.navbar-item a { font-size: 1.3rem; }
